.theme-pad-16t {
  padding-top: 16px;
}
.theme-pad-16b {
  padding-bottom: 16px;
}
.theme-pad-24t {
  padding-top: 24px;
}
.theme-pad-24b {
  padding-bottom: 24px;
}
.theme-pad-40t {
  padding-top: 40px;
}
.theme-pad-40b {
  padding-bottom: 40px;
}
.theme-pad-80t {
  padding-top: 80px;
}
.theme-pad-80b {
  padding-bottom: 80px;
}
.theme-pad-104t {
  padding-top: 104px;
}
.theme-pad-104b {
  padding-bottom: 104px;
}

@screen md {
  .md\:theme-pad-32t {
    padding-top: 32px;
  }
  .md\:theme-pad-32b {
    padding-bottom: 32px;
  }
  .md\:theme-pad-48t {
    padding-top: 48px;
  }
  .md\:theme-pad-48b {
    padding-bottom: 48px;
  }
  .md\:theme-pad-96t {
    padding-top: 96px;
  }
  .md\:theme-pad-96b {
    padding-bottom: 96px;
  }
  .md\:theme-pad-144t {
    padding-top: 144px;
  }
  .md\:theme-pad-144b {
    padding-bottom: 144px;
  }
}

@screen lg {
  .lg\:theme-pad-24t {
    padding-top: 24px;
  }
  .lg\:theme-pad-24b {
    padding-bottom: 24px;
  }
  .lg\:theme-pad-40t {
    padding-top: 40px;
  }
  .lg\:theme-pad-40b {
    padding-bottom: 40px;
  }
  .lg\:theme-pad-56t {
    padding-top: 56px;
  }
  .lg\:theme-pad-56b {
    padding-bottom: 56px;
  }
  .lg\:theme-pad-64t {
    padding-top: 64px;
  }
  .lg\:theme-pad-64b {
    padding-bottom: 64px;
  }
  .lg\:theme-pad-112t {
    padding-top: 112px;
  }
  .lg\:theme-pad-112b {
    padding-bottom: 112px;
  }
  .lg\:theme-pad-200t {
    padding-top: 200px;
  }
  .lg\:theme-pad-200b {
    padding-bottom: 200px;
  }
}

@screen xl {
  .xl\:theme-pad-24t {
    padding-top: 24px;
  }
  .xl\:theme-pad-24b {
    padding-bottom: 24px;
  }
  .xl\:theme-pad-40t {
    padding-top: 40px;
  }
  .xl\:theme-pad-40b {
    padding-bottom: 40px;
  }
  .xl\:theme-pad-80t {
    padding-top: 80px;
  }
  .xl\:theme-pad-80b {
    padding-bottom: 80px;
  }
  .xl\:theme-pad-128t {
    padding-top: 128px;
  }
  .xl\:theme-pad-128b {
    padding-bottom: 128px;
  }
  .xl\:theme-pad-256t {
    padding-top: 256px;
  }
  .xl\:theme-pad-256b {
    padding-bottom: 256px;
  }
}
