.card-border-shell {
  border-color: theme("palette.grey-20");
}

/* shame */
.dss-container .shadow-2 {
  box-shadow: 0px 8px 8px -8px rgba(0, 0, 0, 0.3);
}
.dss-container .shadow-4 {
  box-shadow: 0px 12px 12px -12px rgba(0, 0, 0, 0.7);
}
.dss-container .shadow-6 {
  box-shadow: 0px 16px 16px -14px rgba(0, 0, 0, 0.7);
}
.dss-container .shadow-8 {
  box-shadow: 0px 18px 18px -16px rgba(0, 0, 0, 0.7);
}
.dss-container .shadow-10 {
  box-shadow: 0px 20px 20px -16px rgba(0, 0, 0, 0.6);
}
.dss-container .shadow-12 {
  box-shadow: 0px 22px 22px -16px rgba(0, 0, 0, 0.5);
}
.dss-container .shadow-14 {
  box-shadow: 0px 26px 26px -16px rgba(0, 0, 0, 0.4);
}
.dss-container .shadow-16 {
  box-shadow: 0px 28px 28px -16px rgba(0, 0, 0, 0.3);
}
